Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteRule ^(app|config|database|storage/logs|vendor)(/|$) - [F,L]
    RewriteCond %{DOCUMENT_ROOT}/public/$1 -f [OR]
    RewriteCond %{DOCUMENT_ROOT}/public/$1 -d
    RewriteRule ^(.*)$ public/$1 [L]
    RewriteRule ^(.*)$ public/index.php [L]
</IfModule>
